.box_init {
	position: absolute;
	overflow: auto;
	text-align: center;
	font-size: medium;
	float: left;
	margin: 5px;
	font-family: arial;
}

table {
	border-collapse: collapse;
	border: 2px solid rgb(200,200,200);
	letter-spacing: 1px;
	font-size: 0.8rem;
}
  
td, th {
	border: 1px solid rgb(190,190,190);
	padding: 10px 20px;
}
  
th {
	background-color: rgb(235,235,235);
}
  
td {
	text-align: center;
	background-color: white;
}

h1.list {
	color: black;
	margin-left: 50px;
}