<!DOCTYPE html>
<html lang="fr" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Editer - Expense Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='profil.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='icon.ico') }}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="content">
    <a href="http://127.0.0.1:5000/" class="return"><i class="fas fa-arrow-left"></i> Retour</a>
    <div class="container">
        <div class="title">Modifier une catégorie</div>
        <div class="content">
            <form action="/editcategory" method="POST">
                <div class="user-details">
                    <div class="input-box">
                        <span class="details">Nom</span>
                        <input type="text" style="display: none;" name="id" value="{{ category.id }}" required>
                        <input type="text" name="name" value="{{ category.name }}" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Couleur</span>
                        <input type="color" name="color" value="{{ category.color }}" required>
                    </div>
                </div>
                <div class="button">
                    <input type="submit" value="Modifier">
                    <input class="delete" type="submit" name="action" value="Supprimer">
                </div>
            </form>
        </div>
    </div>
    {% include 'copyrights.html' %}
</div>
</body>
</html>